.container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width:960px;
    height:960px;
    border:3px solid black;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
